[user]
	name = ChrisLee
	email = chirsleecn@outlook.com
[color]
	ui = true
[alias]
	adog = log --graph --abbrev-commit --decorate --date=relative --all
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[init]
	defaultBranch = master
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	autocrlf = input
	editor = vim
[http]
	postBuffer = 1048576000
